@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.Body {
  margin: 0px 0px;
  padding: 0;
}
.FirstBanner {
  width: 100%;
  overflow: hidden;
}
.FirstBanner img {
  width: 100%;
  object-fit: contain;
  animation: fadeAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeAnimation {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.BannerText {
  position: absolute;
  top: 40%;
  left: 10%;
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 10px 0px;
  animation: fadeAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.BodyHead {
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  font-style: bold;
}
.hr {
  border: 1px solid black;
  width: 15%;
  margin: 10px auto;
}
.bodyDesc {
  font-size: 15px;
  text-align: center;
  margin: 10px 0px;
}

.bodyButton {
  margin: 10px auto;
  width: 40%;
}
.bodyButton button {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  background-color: black;
  color: whitesmoke;
}
.bodyButton button:hover {
  background-color: aliceblue;
  color: black;
  font-weight: 600;
  transition: all ease-in-out 1s;
}

.TopBoxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.TopThree {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  width: 350px;
  height: 200px;
  position: relative;
  margin: 10px 25px;
  cursor: pointer;
  overflow: hidden;
}

.TopThree:hover img {
  transform: scale(1.1);

  transform-origin: center;
}
.TopThree img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease-in-out;
}

.TopThree span {
  position: absolute;
  z-index: 5;
  color: whitesmoke;
  font-weight: 600;
  font-size: 25px;
  top: 50%;
  left: 40%;
}

.TopThree span:hover {
  text-decoration: underline;
}

.SecondBanner{
  margin: 30px 0px;
  position: relative;
}
.SecondBanner .BannerText{
  position: absolute;
  top: 30%;
  left: 55%;
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 10px 0px;
  animation: fadeAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}


@media only screen and (max-width: 480px) {
  .BannerText {
    top: 25%;
    left: 0%;
    height: 50px;
    width: 100%;
    color: whitesmoke;
  }
  .hr {
    border: 2px solid whitesmoke;
  }

  .bodyButton {
    margin: 10px auto;
    width: 40%;
  }
  .bodyButton button:hover {
    transition: none;
  }
  .TopBoxContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .TopThree {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
      rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 10px 25px;
    cursor: pointer;
    overflow: hidden;
  }

  .TopThree:hover img {
    transform: scale(1.1);
    transform-origin: center;
  }
  .TopThree img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.6s ease-in-out;
  }

  .TopThree span {
    position: absolute;
    z-index: 5;
    color: whitesmoke;
    font-weight: 600;
    font-size: 25px;
    top: 50%;
    left: 40%;
  }

  .TopThree span:hover {
    text-decoration: none;
  }
  .SecondBanner{
    width: 100%;
  }
  .SecondBanner .BannerText{
    width: 100%;
    height: 50%;
    left: 0px;
    top: 50px;
  }

}

@media (min-width: 768px) and (max-width: 1024px) {
  .BannerText {
    top: 15%;
    width: 60%;
    left: 0%;
  }
  .BodyHead {
    font-size: 23px;
  }
  .hr {
    width: 50%;
  }
  .bodyDesc {
    font-size: 13px;
  }
  .bodyButton{
    width: 30%;
  }
  .TopBoxContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .TopThree {
    width: 30%;
    height: 60% ;
    margin: 10px 0px;
  }
 
  
  .TopThree span {
    font-size: 20px;
    top: 40%;
    left: 30%;
  }
  .SecondBanner .BannerText{
    top: 15%;
    width: 60%;
    left: 40%;
   } 
   .SecondBanner .BodyHead{
    font-size: 35px;
   }
   .SecondBanner .bodyDesc{
    font-size: 13px;
   }
}
