.TopNav {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.NavLeft {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.LogoDiv {
  height: 50px;
  width: 50%;
  transform: translateX(-100px);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.LogoDiv img {
  width: 40%;
  height: 80%;
  object-fit: contain;
}
.NavRight {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.TopLinks {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.TopLinks div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 5px;
}

@media screen and (max-width: 480px) {
  .TopNav {
    padding: 0px;
    /* border: 1px solid red; */
  }
  .MobileDiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .MobileLogo {
    width: 70px;
    height: 50px;

  }
  .MobileLogo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .MobileDiv svg{
    font-size: 25px;
    font-weight: 600;
    margin: 0px 5px;
  }
}
